*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.noscroll
{
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
.overlay{
  position:fixed;
  width:100%;
  height:100%;
  background-color:black;
  z-index:11;
}
#parallaxBackground{
  background-image: url("../img/Header.svg"); */
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center center;
  top:0;
}
h1{
  margin : 0px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.header {
  position:absolute;
  left:50%;
  margin-top: 200px;
}
.logoBold{
  font-weight: 800;
}
.logoTitle{
  color:white;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}
.navigationSelection{
  margin: 20px 0;
  display: block;
  width: 200px;
  margin-left: 25px;
}
.navigationItem{
  font-weight: 200;
  font-family: 'Muli', sans-serif;
  color:white;
  padding:12px 0;
  box-sizing: border-box;
  font-size 14px;
  color:#d8d8d8;
  border-bottom: solid 1px #D8D8D8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.lines{
  position:absolute;
  width:650px;
  margin-left: -50px
}
#line1 {
  animation: spin 85s linear infinite;
}
#line2 {
  animation: spin 126s linear infinite;
}
#line3 {
  animation: spin 302s linear infinite;
}
#line4 {
  animation: spin 456s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
#mainPageHero {
  color: white;
  text-align: center;
  margin: 0 auto;
}
#introHero {
  color: white;
  text-align: center;
  margin: 0 auto;
}

#introLogoImage{
  width:650px;
  max-width:100%;
  position:relative;
  padding-top: 100px;
  fill: red;
  z-index: 14;
}

#logoImage{
  width:650px;
  max-width:100%;
  position:relative;
  padding-top: 100px;
  fill: red;
  animation: grow 6s forwards;
}

#smallLogo{
  transform-origin: 50% 50%;
  width:100px;
  position:fixed;
  top: 10px;
  left: 50%;
  margin-left: -50px
}

#portfolio{
  font-family: 'Muli', sans-serif;
  position: absolute;
  top: 400px;
  left: 200px;
  width: 100%;
  text-align:center;
}

.mainContainer {
  height:500px;
  margin: 0 auto;
}

.mainContainerHeader{
  font-family: 'Muli', sans-serif;
  text-align:center;
  padding-top: 20px;
}
.containerContent {
  margin-top: 20px;
  padding: 0px 80px;
}
.containerContent > p {
 font-size: 20px;
}

#title {
  height: 100vh;
}
#me {
  vertical-align: center;
  background-color: #6a578c;
}
#meImage {
  vertical-align: center;
}
#programming {
  background-color: #ee6971;
}
#photography {
  background-color: #99b1c9;
}
